@font-face {
  font-family: "Young-Serif-Regular";
  src: local("YoungSerif"),
    url("./assets/fonts/YoungSerif-Regular.woff") format("woff");
}

@font-face {
  font-family: "Vollkorn-Regular";
  src: local("VollkornRegular"),
    url("./assets/fonts/Vollkorn-Regular.woff") format("woff");
}

@font-face {
  font-family: "Young-Serif-Regular";
  src: local("YoungSerif"),
    url("./assets/fonts/YoungSerif-Regular.woff") format("woff");
}
@font-face {
  font-family: "Young-Serif-Regular";
  src: local("YoungSerif"),
    url("./assets/fonts/YoungSerif-Regular.woff") format("woff");
}
@font-face {
  font-family: "Young-Serif-Regular";
  src: local("YoungSerif"),
    url("./assets/fonts/YoungSerif-Regular.woff") format("woff");
}

.app {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =======================================
/* 1. RESET
/* ======================================= */

html {
  background-color: #222222;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  position: relative;
  /* background-color: #ffff; */
  text-decoration: none;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Young-Serif-Regular";
  /* border: 1px solid olive; */
}

header {
  /* background-color: #282c34; */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  position: absolute;
  background-color: transparent;
  z-index: 100000000;
}

body {
  background-color: rgba(245, 242, 241, 1);
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer {
  position: absolute;
  background-color: #154097;
  bottom: 3%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  position: relative;
  width: 25vw;
  height: 7vh;
  margin: 0;
  padding: 0;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

p {
  font-family: "Vollkorn-Regular";
}

/* =======================================
/* 2. NAV
/* ======================================= */
#MAIN_HEADER {
  width: 100%;
  justify-content: center;
  align-items: center;
}

#MAIN_HEADER div {
  background: transparent;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.top-nav {
  position: absolute;
  top: 2%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tabs {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.nav-tabs a {
  color: #f7941d;
}

.nav-tabs div {
  height: 5vh;
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
}

.nav-social {
  background: transparent;
  position: relative;
  margin: 0;
  margin-right: 2%;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-social a {
  color: #222222;
}

.nav-social div {
  margin: 0 2% !important;
  width: auto !important;
}

.main-nav {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#MAIN-NAV .logo {
  background-color: #8dd4bd;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#MAIN_HEADER img {
  width: auto;
  height: 5vh;
}

#MAIN-NAV .hamburger {
  background-color: #8dd4bd;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close div {
  background-color: #fff !important;
  width: 2rem !important;
  height: 0.25rem;
  position: absolute;
}

.close div:first-child {
  transform: rotate(45deg);
}

.close div:last-child {
  transform: rotate(-45deg);
}

.hamburger div {
  background-color: #fff !important;
  width: 2rem !important;
  height: 0.25rem;
  margin: 3px;
  padding: 0;
  position: relative;
}

#MAIN-NAV .logo a {
  background-color: #8dd4bd !important;
  text-decoration: none;
  color: lavender;
}

.footer-nav {
  margin: 0%;
  padding: 0;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-nav a {
  font-family: "Vollkorn-Regular";
}

/* =======================================
/* 3. HOME
/* ======================================= */
#home {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-screen {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 242, 241, 1);
}

.designs {
  position: absolute;
}

.home-screen {
  opacity: 0.7;
  /* background: url(./assets/images/background/color-blend-background.png); */
  background-color: #fff;
}

#SLIDES {
  background: transparent;
}

.first-slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.second-slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.slides-bg {
  position: relative;
  background: lightgray;
  width: 80%;
  height: 80%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: url(./assets/images/background/web-wavy-background.png);
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.slide-card {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background: #2222220a;
  /* background: url(./assets/images/background/web-wavy-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.second-slide .slide-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slide-card div {
  width: 100%;
  color: #8dd4bd;
}

.slide-card h1 {
  font-size: 7vh;
  color: #8dd4bd;
}

.slide-card h2 {
  font-size: 5vh;
  color: #8dd4bd;
}

.designs {
  position: absolute;
  width: 33%;
  height: 35vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000000000000 !important;
}

/* ================= SLIDE CARDS 1 - Intro ================= */

.first-slide .designs:nth-child(4) {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 25%;
}

.first-slide .designs:nth-child(5) {
  position: absolute;
  top: 65%;
  left: 55%;
  height: 20%;
}

.first-slide .designs:nth-child(6) {
  position: absolute;
  top: 55%;
  left: 15%;
}

.first-slide .designs:nth-child(7) {
  position: absolute;
  top: 25%;
  left: 65%;
  height: 20%;
}

/* CLOUD GRAPHICS */

.first-slide .designs:nth-child(1) {
  position: absolute;
  top: 0%;
  left: 10%;
  opacity: 0.8;
  height: 40%;
  opacity: 0.5;
  height: 56vh;
}

.first-slide .designs:nth-child(2) {
  position: absolute;
  top: 55%;
  left: 25%;
  opacity: 0.3;
  height: 56vh;
}

.first-slide .designs:nth-child(3) {
  position: absolute;
  top: 25%;
  left: 75%;
  opacity: 0.6;
  height: 56vh;
}

/*  */

.slides-bg .designs {
  position: absolute;
  top: auto !important;
  bottom: 0% !important;
  left: 0% !important;
  transform: rotate(0deg) !important;
  justify-content: flex-end;
}

.slides-bg .designs img {
  /* transform: scaleX(-1) ; */
  position: absolute;

  transform: rotate(90deg) scaleX(-1) !important ;
}

/* ================= SLIDE CARDS 2 - Product ================= */

.second-slide .designs:nth-child(5) {
  height: 60vh;
  width: 55%;
  top: 20%;
  left: 10%;
}

.second-slide .designs:nth-child(2) {
  position: absolute;
  top: 65%;
  left: 55%;
}

.second-slide .designs:nth-child(2) {
  position: absolute;
  top: 25%;
  left: 10%;
  height: 50vh;
  width: 45%;
}

.second-slide .designs:nth-child(2) img {
  height: 60vh;
  width: 55%;
}
.second-slide .designs:nth-child(3) img {
  height: 80%;
  width: auto;
}

.second-slide .designs:nth-child(4) {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 25%;
}

.designs img {
  width: auto;
  background: transparent;
  height: 60%;
}

.second-slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.second-slide .text {
  width: 100%;
  /* height: 100%; */
  margin: 0 0 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.second-slide .text h2,
.second-slide .text h1,
.second-slide .text p {
  margin-right: 15%;
}

/* ================= SLIDE CARDS 3 - About ================= */

.third-slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

/* ================= SLIDE CARDS 4 - ================= */

.forth-slide {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

/* =======================================
/* 4. AGE VERIFICATION SCREEN
/* ======================================= */

#AGE_VERTIFICATION {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.age-verification {
  height: 90%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.age-header {
  position: absolute;
  top: 0%;
  height: 10%;
  width: 100%;
}

.auth-logo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.age-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.age-head-header {
  padding: 5% 0;
  width: 100%;
  text-align: center;
}

.age-head-text {
  padding: 5% 0;
  width: 100%;
  text-align: center;
}

.age-buttons {
  padding: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.age-buttons .btn {
  margin: 0 5%;
}

/* =======================================
/* 5. GOODIES
/* ======================================= */

#GOODIES_PAGE {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#GOODIES_PAGE .menu {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#GOODIES_PAGE .selected {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#GOODIES_PAGE .close-goodies {
  z-index: 100000000000 !important;
  display: none;
  position: absolute;
  bottom: 0%;
}

.menu-container {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  flex-direction: column;
  /* -webkit-flex-wrap: wrap; */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px -1px 19px 5px rgb(204 199 199);
}

.menu-container .menu-card {
  position: relative;
  width: 50%;
  height: 50%;
  flex: 1;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  background-color: #fff;
  color: rgb(61, 61, 61);
  box-sizing: border-box;
  border: 1px solid rgb(185, 185, 185);
  opacity: 0.4;
  background: url("./assets/images/strains/Sour-Strawberry-2-min.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-container .menu-card:hover {
  opacity: 0.9;
}

.menu-card h1 {
  background-color: #fff;
  padding: 1% 2%;
}

.menu-container .menu-card:hover h1 {
  color: #222222;
}

#FLOWERS {
  position: relative;
  width: 80%;
  height: 80vh;
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  flex-direction: row;
  /* -webkit-flex-wrap: wrap; */
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 1px -1px 19px 5px rgb(204 199 199);
  border-radius: 10px;
}

#FLOWERS > div {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: transparent;
  color: white;
  box-sizing: border-box;
  overflow: visible;
}

/* STRAIN COMPONENT*/

#FLOWERS .strains {
  background-color: transparent;
  position: relative;
  width: 100% !important;
  height: 60% !important;
  flex: 1;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  background-color: transparent;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid aliceblue;
}

#FLOWERS .strains h1 {
  background: #dfe5ea;
}

#FLOWERS .strains h3 {
  background: #dfe5ea;
}

#FLOWERS .strains span {
  background: #dfe5ea;
}

#FLOWERS .strains p {
  background: #dfe5ea;
}

#FLOWERS .strains:hover h1 {
  color: rgb(17, 17, 17);
  background: #dfe5ea;
}

#FLOWERS .strains:hover h3 {
  color: rgb(17, 17, 17);
  background: #dfe5ea;
}

#FLOWERS .strains:hover span {
  color: rgb(17, 17, 17);
  background: #dfe5ea;
}

#FLOWERS .strains:hover p {
  color: rgb(17, 17, 17);
  background: #dfe5ea;
}

.strain-top {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: auto !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.strain-title {
  background-color: transparent;
  height: 100%;
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thc-item {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.thc-container {
  background-color: transparent;
  height: 100%;
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.img-container {
  background-color: transparent;
  width: 100%;
}

#FLOWERS img {
  background-color: transparent;
  background-repeat: no-repeat;
  width: 50%;
  height: auto;
}

.strains-footer {
  background-color: transparent;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.strains-footer div {
  background-color: transparent;
  /* width: 100%; */
  margin: 5%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.strains-footer div h3 {
  margin: 1% 0;
}

#CONCENTRATES {
  position: relative;
  width: 80%;
  height: 80vh;
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  flex-direction: row;
  /* -webkit-flex-wrap: wrap; */
  overflow: scroll;
}

#CONCENTRATES .concentrate {
  position: relative;
  width: 50%;
  height: 50%;
  flex: 1;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  background-color: red;
  color: white;
  box-sizing: border-box;
}

#EDIBLES {
  position: relative;
  width: 80%;
  height: 80vh;
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  flex-direction: row;
  /* -webkit-flex-wrap: wrap; */
  overflow: scroll;
}

#EDIBLES .edible-item {
  position: relative;
  width: 50%;
  height: 50%;
  flex: 1;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  background-color: red;
  color: white;
  box-sizing: border-box;
}

#GEAR {
  position: relative;
  width: 80%;
  height: 80vh;
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  flex-direction: row;
  /* -webkit-flex-wrap: wrap; */
  overflow: scroll;
}

#GEAR .gear-item {
  position: relative;
  width: 50%;
  height: 50%;
  flex: 1;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-around;
  background-color: red;
  color: white;
  box-sizing: border-box;
}

/* =======================================
/* 6. ABOUT PAGE
/* ======================================= */

#ABOUT_PAGE {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#ABOUT_PAGE section {
  /* flex-grow: 1; */
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero-container {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  /* flex: 1; */
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* -webkit-flex-wrap: wrap; */
  /* overflow: hidden; */
  /* border-radius: 10px; */
  /* box-shadow: 1px -1px 19px 5px rgb(204 199 199); */
}

.hero-container img {
  border-radius: 10px;
  box-shadow: 1px -1px 19px 5px rgb(204 199 199);
  height: 60%;
  width: 100%;
}

.hero-container h1 {
  position: absolute;
  top: 10%;
  left: 2%;
  font-size: 10vh;
}

.about {
  background: linear-gradient(to right, #ffff, rgb(97, 97, 97));
}

#ABOUT_PAGE h1,
.about h2,
.about h3,
.about h4,
.about h5,
.about p {
  background: transparent;
}

.about div {
  margin: 5% 0;
  background: none;
}

.vid-bg {
  background: rgb(97, 97, 97);
  width: 100vw !important;
  height: 100% !important;
  overflow: hidden;
}

.location {
  position: relative;
  background: rgb(32, 34, 37);
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.special {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.special-bg {
  background-image: url("https://media3.giphy.com/media/SEEZV9PrWRfVu/200.gif");
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 100000 !important;
  background-size: cover;
  background-color: rgb(32, 34, 37);
  background-position: center center;
  opacity: 0.3;
  filter: blur(8px);
  overflow: hidden;
  z-index: -10000000;
  -webkit-mask: linear-gradient(rgb(32, 34, 37), transparent);
}

.special-text {
  position: absolute;
  /* z-index: 10000000000000 !important; */
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(32, 34, 37) -50%,
    rgb(32, 34, 37) 25%,
    rgba(32, 34, 37, 0) 100%
  );
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.special-text div {
  position: relative;
  z-index: 10000000000000 !important;
  width: 100vw;
  height: 100;
  overflow: hidden;
  background: linear-gradient(0deg, rgb(32, 34, 37), #d1d1d110) repeat-x !important;
}

.location-container {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.about h4 {
  font-size: 3.2vh;
}

.about-text {
  background: transparent;
  margin: 5% 0 0 0;
}

.about p {
  font-size: 2.5vh;
}
.about .about-one {
  margin-left: 15%;
}

.about .about-three {
  margin-right: 15%;
}

/* =======================================
/* 7. LOADING PAGE
/* ======================================= */
#LOADING {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =======================================
/* 6. TEAM PAGE
/* ======================================= */
#TEAM {
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #222222;
  overflow: scroll;
}

#TEAM h1 {
}

#TEAM .main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

#TEAM .main .container-team {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

/* =======================================
/* 6. TEAM PAGE
/* ======================================= */
#SPLASH {
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #222222;
  overflow: scroll;
}

#SPLASH h1 {
}

#SPLASH .main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

#SPLASH .main .container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #222222;
}

#SPLASH .button-nav {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

#SPLASH .button-nav a {
  height: 90%;
  width: 90%;
  box-shadow: 1px -1px 19px 5px rgb(204 199 199);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
