/* ================================== */
/* Small Devices, Tablets 
/* ================================== */
@media only screen and (max-width: 768px) {
  .top-nav {
    display: none;
  }
  footer {
    display: none;
  }
  .mobile-nav {
    z-index: 10000000000000;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 0%;
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, -50%); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #MOBILE_NAV .logo {
    background-color: #8dd4bd !important;
    position: absolute;
    top: 0;
    /* margin: 5% 0; */
    padding: 10px 0 10px 0;
    width: 40vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #MOBILE_NAV .logo a {
    background-color: #8dd4bd !important;
    text-decoration: none;
    color: lavender;
  }

  #MOBILE_NAV .hamburger {
    background-color: #8dd4bd !important;

    position: absolute;
    bottom: 0;
    /* margin: 5% 0; */
    padding: 5px 0;
    width: 40vw;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #MOBILE_NAV .hamburger h1 {
    background-color: #8dd4bd !important;
    text-decoration: none;
    color: lavender;
  }

  .mobile-menu h1,
  .mobile-menu a,
  .mobile-menu p {
    color: lavender;
  }

  .mobile-menu {
    z-index: 10000000000000;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
  }
  .mobile-menu-container {
    /* z-index: 10000000000001; */
    opacity: 0.1;
    background-color: #222;
    background-image: url(./assets/images/background/orange-leaf-pattern.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: absolute !important;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  .mobile-menu-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu-header .logo {
    padding: 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    align-items: flex-start !important;
  }

  .mobile-menu-header .logo img {
    height: 8vh !important;
  }

  .mobile-menu-body {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu-body .mobile-nav {
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    position: relative;
    left: 0;
  }

  .mobile-menu-footer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ig-social {
    padding: 5% 10%;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .ig-link {
    margin: 2% 5%;
  }

  .ig-handle {
    margin: 2% 5%;
    color: #fff;
  }

  .mobile-menu-body .mobile-nav .link {
    padding: 5% 0;
  }

  .mobile-menu-header .close {
    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end !important;
  }

  .footer-nav {
    display: none;
  }
  nav {
    z-index: 1000000;
  }
  #SLIDES {
    z-index: 1000;
  }

  .slide-card h2 {
    font-size: 4vh;
  }

  .slide-card {
    height: 100%;
  }

  .slides-bg {
    height: 87%;
    background: url(./assets/images/home-graphics/content-card-background-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slides-bg-first {
    background: url(./assets/images/home-graphics/website-background-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .second-slide .designs:nth-child(2) img {
    height: 31vh;
    width: auto;
  }

  .slides-bg .designs img {
    width: 30vw;
  }

  /* GOODIES MENU */

  .menu-container {
    width: 100%;
    height: 100vh;
  }

  #FLOWERS,
  #CONCENTRATES,
  #EDIBLES,
  #GEAR {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .menu-card h1 {
    font-size: 2.3vh;
  }

  .hero-container {
    justify-content: center;
  }

  .hero-container img {
    position: absolute;
    bottom: 15%;
    height: 40%;
    width: 100%;
  }

  .hero-container h1:nth-child(3) {
    top: 18% !important;
    left: 4%;
  }

  #GOODIES_PAGE .selected {
    z-index: 100000000000 !important;
  }

  #GOODIES_PAGE .close-goodies {
    z-index: 100000000001 !important;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8dd4bd;
    border-style: none;
    box-shadow: 1px -1px 19px 5px rgb(204 199 199);
  }

  #GOODIES_PAGE .close-goodies div {
    background-color: #fff !important;
    width: 2rem !important;
    height: 0.25rem;
    position: absolute;
  }

  #GOODIES_PAGE .close-goodies div:first-child {
    transform: rotate(45deg);
  }

  #GOODIES_PAGE .close-goodies div:last-child {
    transform: rotate(-45deg);
  }

  /* ABOUT PAGE */

  #ABOUT_PAGE h1,
  .about h2,
  .about h3,
  .about h4,
  .about h5,
  .about p {
    background: transparent;
  }

  #ABOUT_PAGE h1 {
    font-size: 15vw;
  }
  #ABOUT_PAGE .hero-container:nth-child(3) {
    font-size: 20vw;
    top: 0;
  }
}
